.footer {
  display: flex;
  background-color: #fff;
  padding: 20px 0;
  border-top: solid 0.3px #d3d2d2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container-footer{
    width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
    color: #000000;
}

.icon :hover {
    color: #991592;
}

.donkey-icon{
  width: 25px;
  height: 25px;
}